
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Migyston Intranet Inventory Service!</h1>
    <p>INFORMATION:
        <br/>
        Navigate above to add and edit products
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
